[Unit]

Description=canUp
After=network.target

[Service]
User=nvidia
ExecStart=/usr/bin/sudo bin/bash /home/nvidia/mdl_ws/src/etc/bash/canUp.sh

[Install]

WantedBy=multi-user.target
